@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Noto+Sans:wght@400;700&display=swap');


/* Estilo geral */
*{
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: #ffffff;
}

/* Retirar rolagem da scrollbar */
body::-webkit-scrollbar{
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Cabeçalho */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #014bfd;
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 0px 10px #333;
}

h1 {
    margin: 0;
}

/* Navegação */
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a{
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
    transition: .9s;
}

nav ul li a:hover{
    transform: scale(1.1);
    color: #f8f8f8;
}



/* Details event section -------------------------------- */
#image-teste{
    width: 350px;
    border-radius: 10px;
    transition: 0.9s;
}


.categoria{
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: right;
}

#category{
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: #014bfd;
    color: #f1f1f1;
    cursor: pointer;
}

#category option{
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: #000000;
    color: white;
}

.pagamento-check{
    display: flex;
}

.btn-registrar{
    margin-top: 20px;
    font-size: 16px;
    border-radius: 10px;
    padding: 8px;
    border: none;
    border: none;
    background-color: #014bfd;
    color: #f1f1f1;
    cursor: pointer;
}

.btn-registrar:hover{
    background-color: #3858e9;
}


/* a{
    color: #014bfd;
    transition: 0.9s;
}

a:hover{
    color: #7c8ac5;
    transform: scale(1.1);
} */


/* Rodapé */
footer{
    background-color: #333333;
    color: #fff;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    bottom: 0;
    width: 100%;
}


